/* font-family: 'Bagel Fat One', cursive;
        font-family: 'Gasoek One', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
    background-color: #212121;
}

.sec-1 header nav {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000049;

}

.sec-1 {
    width: 100vw;
    min-height: calc(100vh);
    background-color: #0C2D48;
    background: url('https://e0.pxfuel.com/wallpapers/138/150/desktop-wallpaper-big-website-background-big-website-epidemic.jpg')no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid white;
}

.sec-1 header nav .title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0px 2rem;
    font-family: 'Poppins', sans-serif;
}

.sec-1 header nav .nav-right {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.sec-1 header nav .nav-right ul {
    margin: 0 2rem;
    transition: all 0.8 ease;
}

.sec-1 header nav .nav-right ul a {
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
    transition: all 0.8 ease;
}

.sec-1 header nav .nav-right ul li {
    display: inline;
    list-style: none;
    font-weight: 600;
    padding: 0px 1rem;
    cursor: pointer;
}

.sec-1 header nav .nav-right ul li a:hover {
    color: white;
    text-decoration: underline;
}

.sec-1 header nav .nav-right ul .active {
    color: white;
}

.sec-1 .parts {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: inherit;
    margin-top: 10%;
}

.sec-1 .parts .left,
.sec-1 .parts .right {
    width: 600px;
    color: white;
    margin: 0px 10px;
}

.sec-1 .parts .right {
    width: 400px;
}

.sec-1 .parts .right img {
    width: 100%;
    filter: drop-shadow(4px 4px 22px black);
}

.sec-1 .parts .left {
    padding: 22px 26px;
    text-shadow: 4px 4px 1px #000000;
}

.sec-1 .parts .left h3 {
    font-size: 2.75rem;
    font-family: 'Poppins', sans-serif;
}

.sec-1 .parts .left p {
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
}

.Fromleft {
    animation: Fromleft 0.8s linear;
}

.Fromright {
    animation: Fromright 0.8s linear;
}

@keyframes Fromleft {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes Fromright {
    from {
        transform: translateX(400%);
    }

    to {
        transform: translateX(0%);
    }
}


.sec-2 {
    width: 100vw;
    min-height: 100vh;
    background: url('https://e0.pxfuel.com/wallpapers/138/150/desktop-wallpaper-big-website-background-big-website-epidemic.jpg')no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid white;
}

.sec-2 .heading,
.sec-3 .heading,
.sec-4 .heading {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 4px 4px 10px black;
    padding: 16px 0;
    text-decoration: underline;
}

.sec-2 .tech-boxes {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.sec-2 .tech-boxes .box {
    width: 25%;
    height: 250px;
    margin: 14px;
    background: #fff;
    box-shadow: 4px 4px 22px black;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all 0.1s linear;
}

.sec-2 .tech-boxes .box:hover {
    transform: scale(1.05);
}

.sec-2 .tech-boxes .box p {
    font-weight: bold;
    padding: 10px 22px;
}

.sec-2 .tech-boxes .box .box-img img {
    width: 100px;
}

.typed-cursor {
    display: none
}

.show {
    animation: leftSlide 0.5s linear;
}

@keyframes leftSlide {
    from {
        transform: translateX(300%);
    }

    to {
        transform: translateX(0);
    }
}

#backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#backToTop button {
    padding: 12px;
    font-size: 1rem;
    color: white;
    background-color: #008cff;
    border: 1px solid black;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.sec-3 {
    width: 100vw;
    min-height: 100vh;
    background: url('https://e0.pxfuel.com/wallpapers/138/150/desktop-wallpaper-big-website-background-big-website-epidemic.jpg')no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid white;
}

.sec-3 .comingSoon {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    position: relative;
    top: 50%;
    transform: translateY(150%);
}

.sec-4 {
    width: 100vw;
    min-height: 100vh;
    background: url('https://e0.pxfuel.com/wallpapers/138/150/desktop-wallpaper-big-website-background-big-website-epidemic.jpg')no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid white;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 132px auto;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #3366cc;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #27408b;
}

.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #84D65A;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #2B641E;
}

.error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.error__close path {
    fill: #fff;
}

.hamCheck {
    display: none;
}

.hamIcon {
    display: none;
}

.hamClose {
    display: none;
}

@media (max-width:780px) {
    .hamIcon {
        display: block;
    }

    .sec-1 header nav {
        display: block;
    }

    .sec-1 header nav .title {
        text-align: left;
        position: relative;
        display: inline;
        font-size: 1.50rem;
        top: 20%;
    }

    .nav-right {
        margin: 26px 0;
        width: 100vw;
        background-color: rgb(0 0 0 / 59%);
        ;
        display: none;
        /* transform: translateY(-100%); */
        opacity: 0;
        transition: all 0.5s linear;
    }

    .sec-1 header nav .nav-right ul li {
        display: block;
        list-style: none;
        font-weight: 600;
        padding: 0.50rem 1rem;
        cursor: pointer;
    }

    .hamCheck {
        opacity: 0;
    }

    .hamIcon,
    .hamClose {
        padding: 12px 18px;
        font-size: 2rem;
        height: 100%;
        cursor: pointer;
        float: right;
        background-color: rgba(0, 0, 0, 0.571);
        color: white;
    }

    #ham:checked~.nav-right {
        display: block;
        animation: openNav 0.5s 1 forwards;
    }

    #ham:checked~.hamClose {
        display: block;
    }

    #ham:checked~.hamIcon {
        display: none;
    }

    @keyframes openNav {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.sec-5 {
    width: 100%;
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.sec-5 i {
    margin: 12px 0;
    font-size: 1.5rem;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s linear;
}

.sec-5 a {
    text-decoration: none;
    color: white;
}

.sec-5 i:hover {
    opacity: 1;
}

.sec-5 h1 {
    margin-top: 6px;
}